:root {
    --main-bg-color: #22212C;
    --card-bg-color: #302F3D;
    --letter-color: #837E9F;
    --tech-color: #CB92B1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

h3 {
    margin-bottom: 8px;
}

a {
    text-decoration: none;
}

button {
    width: 220px;
    height: 30px;
    border: none;
    border-radius: 10px;
    opacity: .7;
    color: white;
    cursor: pointer;
    transition: all .4s;
    background-color: var(--letter-color);
}

button:hover {
    opacity: 1;
}

body {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: var(--main-bg-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin-top: 5rem auto;
    padding: 2rem;
    color: var(--letter-color);
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}

form label {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

main form input {
    width: 220px;
    height: 30px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
}

main form input::placeholder {
    opacity: 0.7;
}

main section .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

main section .card #profile-pic {
    width: 128px;
    border-radius: 50%;
    border: 3px solid var(--letter-color);
}

.card .userInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card .userInfo ul li {
    list-style: none;
}

.card .userInfo ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.card .userInfo ul span {
    opacity: 0.8;
}

.card .userInfo #userRepos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--card-bg-color);
}

#userRepos a {
    display: flex;
    align-items: center;
    gap: .3rem;
    flex-direction: row-reverse;
    color: var(--letter-color);
    opacity: 0.7;
}

#userRepos a:hover {
    opacity: 1;
}

.profile {
    display: flex;
    justify-content: center;
    padding: .8rem;
}

.profile button:hover {
    opacity: 1;
}

.profile button a {
    color: white;
}